@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProMed.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProLig.woff2');
  font-weight: 400;
}

/* 
@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProLigIta.woff2');
  font-weight: 400;
  font-style: italic;
} */

/* This is the "book" style of NB International Pro. It is somewhere between light and regular. */
/* @font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProBoo.woff2');
}

@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProBooIta.woff2');
  font-style: italic;
} */

/* @font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProReg.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProIta.woff2');
  font-weight: 500;
  font-style: italic;
} */

/* 
@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProMedIta.woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProBol.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'NB International Pro';
  src: url('/fonts/NB-International-Pro/woff2/NBInternationalProBolIta.woff2');
  font-weight: 700;
  font-style: italic;
} */
