/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* global theme values */
:root {
  --color-light-gray: #A7A7A7;
  --color-black: #262626;
  --color-dark-gray: #3F4246;
  --color-white: #FFFFFF;
  --color-accent-blue: #5F8AFA;
  --color-accent-green: #AAD055;
  --color-accent-yellow: #FFC860;
  --color-accent-red: #DB5555;
  --color-accent-turquoise: #4FD1D9;
  --color-accent-purple: #6B6EF9;
  --color-accent-lilac: #A463B0;
  --color-accent-orange: #E3935B;
}

/* theme */
body,
body[data-theme="light"] {
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-light-gray);
  --color-bg-primary: var(--color-white);
  --color-button-neutral-background: var(--color-dark-gray);
  --color-button-neutral-text: var(--color-white);
  --color-button-outline-neutral: var(--color-dark-gray);
  --color-button-accent: var(--color-accent-blue);
  --color-button-accent-text: var(--color-white);
}
/* TODO evaluate these colors */
body[data-theme="dark"] {
  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-light-gray);
  --color-bg-primary: var(--color-black);
  --color-button-neutral-background: var(--color-light-gray);
  --color-button-neutral-text: var(--color-black);
  --color-button-outline-neutral: var(--color-white);
  --color-button-accent: var(--color-accent-blue);
  --color-button-accent-text: var(--color-white);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent-lilac)
}

* {
  box-sizing: border-box;
}

.btn-neutral {
  background-color: var(--color-button-neutral-background);
  color: var(--color-button-neutral-text);
}

.btn-outline-neutral {
  color: var(--color-button-outline-neutral);
  border-color: var(--color-button-outline-neutral);
}

.btn-accent {
  background-color: var(--color-button-accent);
  color: var(--color-button-accent-text);
}

.firebaseui-idp-button {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25) !important;
  border-radius: 4px !important;

}

.firebaseui_container {
  /* width: 10em !important */
}