/* ensure all pages have Bootstrap CSS */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

$light-gray: #A7A7A7;
$black: #000000;
$dark-gray: #3F4246;
$white: #FFFFFF;
$accent-blue: #5F8AFA;
$accent-green: #87BB81;
$accent-light-green: #DFE9DE;
$accent-dark-green: #5B6E5A;
$accent-yellow: #FFC860;
$accent-red: #DB5555;
$accent-turquoise: #4FD1D9;
$accent-purple: #6B6EF9;
$accent-lilac: #A463B0;
$accent-orange: #F3CFB5;
$accent-dark-orange: #8C6963;

// define bootstrap overrides
$primary: $accent-green;

@import "~bootstrap/scss/bootstrap";

/* global theme values */
:root {
  --color-light-gray: #{$light-gray};
  --color-black: #{$black};
  --color-dark-gray: #{$dark-gray};
  --color-white: #{$white};
  --color-accent-blue: #{$accent-blue};
  --color-accent-green: #{$accent-green};
  --color-accent-light-green: #{$accent-light-green};
  --color-accent-dark-green: #{$accent-dark-green};
  --color-accent-yellow: #{$accent-yellow};
  --color-accent-red: #{$accent-red};
  --color-accent-turquoise: #{$accent-turquoise};
  --color-accent-purple: #{$accent-purple};
  --color-accent-lilac: #{$accent-lilac};
  --color-accent-orange: #{$accent-orange};
  --color-accent-dark-orange: #{$accent-dark-orange};

  --color-primary: #{$accent-green};

  --layout-button-height: 2.625rem;
  --layout-sidebar-width: 11.125rem;
}

/* theme */
body,
body[data-theme="light"] {
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-light-gray);
  --color-bg-primary: var(--color-white);
  --color-button-neutral-background: var(--color-dark-gray);
  --color-button-neutral-text: var(--color-white);
  --color-button-outline-neutral: var(--color-dark-gray);
  --color-button-accent: var(--color-accent-blue);
  --color-button-accent-text: var(--color-white);
}
body[data-theme="dark"] {
  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-light-gray);
  --color-bg-primary: var(--color-black);
  --color-button-neutral-background: var(--color-light-gray);
  --color-button-neutral-text: var(--color-black);
  --color-button-outline-neutral: var(--color-white);
  --color-button-accent: var(--color-accent-blue);
  --color-button-accent-text: var(--color-white);
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Manrope', sans-serif;
  height: 100%;
}


a {
  color: inherit;
  font-family: 'Manrope', sans-serif;
}

a:hover {
  color: var(--color-accent-lilac)
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.btn {
  height: var(--layout-button-height);
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:disabled, .btn-outline-primary:focus {
  color: var(--color-white);
}

.btn-neutral {
  background-color: var(--color-button-neutral-background);
  color: var(--color-button-neutral-text);
}

.btn-outline-neutral {
  color: var(--color-button-outline-neutral);
  border-color: var(--color-button-outline-neutral);
}

.btn-accent {
  background-color: var(--color-button-accent);
  color: var(--color-button-accent-text);
}

.globalDivider {
  border-top: 1px solid black;
  width: 100%;
  margin: 1.5rem 0;
}

.tooltip.show {
  opacity: 1;
}

.hoverPrimary:hover {
  color: var(--color-primary)
}

code {
  font-family: 'Source Code Pro', monospace;
}

.chartContainer {
  padding: 1rem;
  border: 1px solid #ABB5BE;
  border-radius: 0.5rem;
  background-color: white;
}