html {
  font-size: 100%;
  height: 100%;
}

body {
  background: var(--color-surface-1);
  color: var(--color-text-1);
  font-family: var(--font-body);
  line-height: var(--line-height-body);
  height: 100%;
  padding-right: 0 !important;
  word-break: break-word;
}

#__next {
  height: 100%;
}

pre {
  white-space: pre;
}

/* Gleap fixed icon override hacks: */

.bb-feedback-button-icon {
  width: 40px !important;
  height: 40px !important;
}

.bb-feedback-button .bb-logo-logo {
  width: 24px !important;
  height: 24px !important;
  top: 8px !important;
  left: 8px !important;
}

.bb-feedback-button .bb-logo-arrowdown {
  width: 16px !important;
  height: 16px !important;
  top: 13px !important;
  left: 12px !important;
}

.gleap-frame-container {
  bottom: 80px !important;
}

/* Radix overrides: */

[data-radix-popper-content-wrapper] {
  z-index: 1000 !important;
}
