@use './variables.css';
@import '@near-wallet-selector/modal-ui/styles.css';

#near-wallet-selector-modal {
  .nws-modal-wrapper {
    z-index: calc(var(--sidebar-z-index) + 1);

    .nws-modal {
      .nws-modal-body {
        .alert-message {
          button {
            color: var(--color-success);
          }
        }

        .wallet-not-installed-wrapper {
          .refresh-link {
            color: var(--color-success);
          }
        }
      }
    }
  }
}

:root {
  --wallet-selector-selected-wallet-bg: var(--color-success);
}
