:root,
.dark-theme,
.light-theme .reverse-theme {
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-l: 20px;

  --color-text-1: #f5f5f5;
  --color-text-2: #bcc3cd;
  --color-text-3: #888e98;

  --color-surface-overlay: #101110;
  --color-surface-1: #242625;
  --color-surface-2: #2b2c2b;
  --color-surface-3: #323232;
  --color-surface-4: #383838;
  --color-surface-5: #464646;

  --color-primary: #87bb81;
  --color-primary-highlight: #a8daa4;
  --color-danger: #e64747;
  --color-danger-highlight: #ec6f6f;
  --color-success: #87bb81;
  --color-success-highlight: #a8daa4;

  --color-cta-primary: var(--color-primary);
  --color-cta-primary-highlight: var(--color-primary-highlight);
  --color-cta-primary-text: #000000;
  --color-cta-danger: var(--color-danger);
  --color-cta-danger-highlight: var(--color-danger-highlight);
  --color-cta-danger-text: #000000;
  --color-cta-neutral: #464646;
  --color-cta-neutral-highlight: #575757;
  --color-cta-neutral-text: #f5f5f5;

  --focus-outline: 1px solid var(--focus-outline-color);
  --focus-outline-color: #8793a6;
  --focus-outline-offset: 3px;

  --font-accent: 'New Spirit', serif;
  --font-body: 'NB International Pro', sans-serif;
  --font-code: 'Source Code Pro', monospace;
  --font-number: 'Source Code Pro', monospace;

  --font-size-body: 1rem;
  --font-size-body-small: 0.8rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;

  --line-height-body: 1.5;
  --line-height-body-small: 1.5;
  --line-height-h1: 1.1;
  --line-height-h2: 1.2;
  --line-height-h3: 1.3;
  --line-height-h4: 1.4;
  --line-height-h5: 1.5;
  --line-height-h6: 1.5;

  --shadow-soft: 0 2px 20px rgba(0, 0, 0, 0.3);
  --shadow-softer: 0 2px 20px rgba(0, 0, 0, 0.15);

  --size-header-height: 5rem;
  --size-icon-xs: 0.8rem;
  --size-icon-s: 1.25rem;
  --size-icon-m: 1.75rem;
  --size-icon-l: 2.5rem;
  --size-icon-xl: 3.25rem;
  --size-input-xs: 1.25rem;
  --size-input-s: 1.75rem;
  --size-input-m: 3rem;
  --size-max-container-width-xxs: 10rem;
  --size-max-container-width-xs: 20rem;
  --size-max-container-width-s: 30rem;
  --size-max-container-width-m: 50rem;
  --size-max-container-width-l: 75rem;
  --size-sidebar-expanded: 15.625rem;

  --space-xs: 0.25rem;
  --space-s: 0.6rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;

  --transition-speed: 150ms;
}

.light-theme,
.dark-theme .reverse-theme {
  --color-text-1: #242625;
  --color-text-2: #474747;
  --color-text-3: #9f9f9f;

  --color-surface-overlay: #ffffff;
  --color-surface-1: #ffffff;
  --color-surface-2: #f2f4f7;
  --color-surface-3: #e9ecf0;
  --color-surface-4: #cdd3db;
  --color-surface-5: #bcc3cd;

  --color-cta-neutral: #bcc3cd;
  --color-cta-neutral-highlight: #a9b0ba;
  --color-cta-neutral-text: #242625;

  --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.1);
  --shadow-softer: 0 2px 10px rgba(0, 0, 0, 0.05);
}
