:root {
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-l: 20px;
  --border-radius-xl: 40px;

  --font-heading: 'NB International Pro', sans-serif;
  --font-gallery-header: 'New Sprint Light', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-action: 'IBM Plex Mono', monospace;
  --font-code: 'IBM Plex Mono', monospace;
  --font-number: 'IBM Plex Mono', monospace;

  --font-size-root: 100%; /* Equal to 16px while also respecting browser font size override based on user settings */
  --font-size-body: 1rem;
  --font-size-body-small: 0.8rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-input: 16px; /* 16px meets iOS minimum font size requirement to prevent auto-zoom */

  --line-height-body: 1.5;
  --line-height-body-small: 1.5;
  --line-height-h1: 1.1;
  --line-height-h2: 1.2;
  --line-height-h3: 1.3;
  --line-height-h4: 1.4;
  --line-height-h5: 1.5;
  --line-height-h6: 1.5;

  --size-header-height: 3.75rem;
  --size-icon-xs: 0.8rem;
  --size-icon-s: 1.25rem;
  --size-icon-m: 1.75rem;
  --size-icon-l: 2.5rem;
  --size-icon-xl: 3.25rem;
  --size-input-height-xs: 1.25rem;
  --size-input-height-s: 1.75rem;
  --size-input-height-m: 3.125rem;
  --size-max-container-width-xxs: 10rem;
  --size-max-container-width-xs: 20rem;
  --size-max-container-width-s: 30rem;
  --size-max-container-width-m: 50rem;
  --size-max-container-width-ml: 62rem;
  --size-max-container-width-l: 75rem;
  --size-max-container-width-xl: 82rem;
  --size-max-dropdown-height: 30rem;
  --size-max-input-width-xxs: 5rem;
  --size-max-input-width-xs: 10rem;
  --size-max-input-width-s: 20rem;
  --size-max-input-width-m: 30rem;
  --size-max-input-width-l: 50rem;
  --size-sidebar-width-expanded: 12.5rem;
  --size-sidebar-width-collapsed: 4.5rem;

  --space-xs: 0.25rem;
  --space-s: 0.6rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;
  --space-xxl: 6rem;

  --transition-speed: 150ms;
  --transitions: color var(--transition-speed), border-color var(--transition-speed),
    background-color var(--transition-speed), box-shadow var(--transition-speed), opacity var(--transition-speed);

  --sidebar-animation-speed: 300ms;
  --sidebar-z-index: 505;
}

:root,
.dark-theme,
.light-theme .reverse-theme {
  --color-text-1: #f5f5f5;
  --color-text-2: #bcc3cd;
  --color-text-3: #888e98;

  --color-surface-overlay: #0d0d0e;
  --color-surface-1: #151718;
  --color-surface-2: #202324;
  --color-surface-3: #2c3032;
  --color-surface-4: #36393b;
  --color-surface-5: #3e4245;

  --color-border-1: #0d0d0e;
  --color-border-2: #464a4d;

  --color-primary: #87bb81;
  --color-primary-highlight: #a8daa4;
  --color-danger: #e64747;
  --color-danger-highlight: #ec6f6f;
  --color-success: #87bb81;
  --color-success-highlight: #a8daa4;
  --color-warning: #e9b870;

  --color-mainnet: #00bf89;
  --color-testnet: #e9b870;

  --color-cta-primary: var(--color-primary);
  --color-cta-primary-highlight: var(--color-primary-highlight);
  --color-cta-primary-text: #000000;
  --color-cta-success: var(--color-success);
  --color-cta-success-highlight: var(--color-success-highlight);
  --color-cta-success-text: #000000;
  --color-cta-danger: var(--color-danger);
  --color-cta-danger-highlight: var(--color-danger-highlight);
  --color-cta-danger-text: #000000;
  --color-cta-neutral: #3e4245;
  --color-cta-neutral-highlight: #464a4d;
  --color-cta-neutral-text: #f5f5f5;

  --focus-outline: 1px solid var(--focus-outline-color);
  --focus-outline-color: #8793a6;
  --focus-outline-offset: 3px;

  --shadow-soft: 0 2px 20px rgba(0, 0, 0, 0.3);
  --shadow-softer: 0 2px 20px rgba(0, 0, 0, 0.15);
}

.light-theme,
.dark-theme .reverse-theme {
  --color-text-1: #242625;
  --color-text-2: #474747;
  --color-text-3: #9f9f9f;

  --color-surface-overlay: #ffffff;
  --color-surface-1: #f6f7f9;
  --color-surface-2: #e8e9eb;
  --color-surface-3: #dddfe1;
  --color-surface-4: #cbcdcf;
  --color-surface-5: #bbbdbf;

  --color-border-1: #cbcdcf;
  --color-border-2: #bbbdbf;

  --color-cta-neutral: #cbcdcf;
  --color-cta-neutral-highlight: #bbbdbf;
  --color-cta-neutral-text: #242625;

  --shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.15);
  --shadow-softer: 0 2px 10px rgba(0, 0, 0, 0.075);
}

@media (max-width: 35rem) {
  :root {
    --font-size-root: 85%;
    --font-size-h1: 1.75rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-h4: 1.15rem;
    --font-size-h5: 1rem;
    --font-size-h6: 1rem;
  }
}
